<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <title></title>
</head>
<body>
<table id="data-table" class="dataTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>IP Address</th>
        <th>TEST</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    // Kết nối tới Socket.IO server
    var socket = io();

    // Lưu giữ thông tin về page hiện tại và số lượng dòng trên mỗi page
    var currentPage = 0;
    var rowsPerPage = 50;
    // Keep track of DataTable initialization
    var dataTableInitialized = false;
    // Lắng nghe sự kiện 'data' từ server và cập nhật bảng
    socket.on('collect_data', function (data) {
        updateTable(data);
    });

    // Hàm cập nhật bảng với dữ liệu mới
    function updateTable(data) {
        var table = $('#data-table').DataTable();

        // Xóa tất cả các dòng hiện tại mà không mất thông tin về trạng thái hiện tại của DataTable
        table.clear().draw();

        // Thêm các dòng mới từ dữ liệu
        data.forEach(function (item) {
            table.row.add([item.Id, item.ip_address, item.status]);
        });

        // Làm mới table và giữ lại trạng thái
        table.draw(false);

        // Lưu giữ thông tin về page hiện tại và số lượng dòng trên mỗi page
        var pageInfo = table.page.info();
        currentPage = pageInfo.page;
        rowsPerPage = pageInfo.length;

        // Scroll đến trang và dòng cuối cùng nếu DataTable đã được khởi tạo
        if (!dataTableInitialized) {
            {#table.page(currentPage).draw('page');#}
            {#table.draw(false);#}
        }

        // Set flag to indicate DataTable has been initialized
        dataTableInitialized = true;
    }

    // Khởi tạo DataTable ban đầu
    $('#data-table').DataTable({
        lengthMenu: [50],
        pageLength: rowsPerPage,
        displayStart: currentPage * rowsPerPage
    });

    // Lắng nghe sự kiện 'page' từ DataTable khi chuyển trang
    $('#data-table').on('page.dt', function () {
        // Lưu giữ thông tin về page hiện tại
        currentPage = $('#data-table').DataTable().page.info().page;
    });
</script>
</body>
</html>